{% extends 'base01.html' %}

{% block content %}
        <!-- banner part start-->
        <section class="banner_part">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-xl-6">
                        <div class="banner_text">
                            <div class="banner_text_iner">
                                <h5>HELLO STUDENTS</h5>
                                <h1>LEADERS IN CYBERSECURITY TRAINING</h1>
                                <p>Welcome to Cyberoptions, your gateway to becoming a skilled and certified cybersecurity professional. In today's technology-driven world, cyber threats are growing at an alarming rate. It has become essential to have a robust cybersecurity system to safeguard sensitive data and prevent cyber attacks. This is where Cyberoptions comes in.</p>
                                {% comment %} <a href="#" class="btn_1">View Course </a>
                                <a href="#" class="btn_2">Get Started </a> {% endcomment %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- banner part start-->

        <!-- feature_part start-->
        <section class="feature_part">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-xl-3 align-self-center">
                        <div class="single_feature_text ">
                            <h2>Global CyberSecurity Training</h2>
                            <p>We stand apart from other cybersecurity training providers in several ways.  </p>
                            {% comment %} <a href="#" class="btn_1">Read More</a> {% endcomment %}
                        </div>
                    </div>
                    <div class="col-sm-6 col-xl-3">
                        <div class="single_feature">
                            <div class="single_feature_part">
                                <span class="single_feature_icon"><i class="ti-layers"></i></span>
                                <h4>INDUSTRY CERTIFICATIONS</h4>
                                <p>Certification oriented training in contemporary technologies</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xl-3">
                        <div class="single_feature">
                            <div class="single_feature_part">
                                <span class="single_feature_icon"><i class="ti-new-window"></i></span>
                                <h4>UGG Approved Degree</h4>
                                <p>PG Diploma & Masters Degree from top University in India</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xl-3">
                        <div class="single_feature">
                            <div class="single_feature_part single_feature_part_2">
                                <span class="single_service_icon style_icon"><i class="ti-light-bulb"></i></span>
                                <h4>ISO 27001 LEAD AUDITOR</h4>
                                <p>Qualify as a internationally certified ISO 27001:2022 Lead Auditor</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- feature_part end-->
        <!-- About Section start-->
        <section class="learning_part">
            <div class="container">
                <div class="row align-items-sm-center align-items-lg-stretch">
                    <div class="col-md-7 col-lg-7">
                        <div class="learning_img">
                            <img src="./static/img/q1.png" />
                        </div>
                    </div>
                    <div class="col-md-5 col-lg-5">
                        <div class="learning_member_text">
                            <h5>About us</h5>
                            <h2>Learning with Love
                                and Laughter</h2>
                            <p>Welcome to Cyberoptions, your gateway to becoming a skilled and certified cybersecurity professional. In today's technology-driven world, cyber threats are growing at an alarming rate. It has become essential to have a robust cybersecurity system to safeguard sensitive data and prevent cyber attacks. This is where Cyberoptions comes in.
                                Cybersecurity training has become a necessity for individuals and organizations alike. It equips you with the skills and knowledge required to tackle cyber threats and secure your systems. With the increasing number of cyber attacks, cybersecurity has become an essential skill for everyone.
                                </p>
                            <ul>
                                <li><span class="ti-pencil-alt"></span>Firstly, our training is delivered by industry experts who have extensive experience in handling complex IT challenges.</li>
                                <li><span class="ti-ruler-pencil"></span>Secondly, we provide hands-on learning on live environments in top-grade organizations. This practical experience helps you learn and apply your skills in real-time, </li>
                            </ul>
                            <a href="#" class="btn_1">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- About Section end-->

            <!-- Courses start -->
            <section class="special_cource padding_top">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-xl-5">
                            <div class="section_tittle text-center">
                                <p>popular courses</p>
                                <h2>Special Courses</h2>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-lg-3">
                            <div class="single_special_cource">
                                <img src="./static/img/4.jpg" class="special_img" alt="">
                                <div class="special_cource_text">
                                    <a href="#" class="btn_4">Masters</a>
                                    <h4>3,00,000</h4>
                                    <a href="#"><h3>Masters in Cybersecurity & Digital Forensics</h3></a>
                                    {% comment %} <p>Which whose darkness saying were life unto fish wherein all fish of together called</p> {% endcomment %}
                                    <a href="#" class="btn_1">View More</a>
                                    {% comment %} <div class="author_info">
                                        <div class="author_img">
                                            <img src="./static/img/author/author_1.png" /> 
                                            <div class="author_info_text">
                                                <p>Conduct by:</p>
                                                <h5><a href="#">James Well</a></h5>
                                            </div>
                                        </div>
                                        <div class="author_rating">
                                            <div class="rating">
                                                <a href="#"><img src="img/icon/color_star.svg" alt=""></a>
                                                <a href="#"><img src="img/icon/color_star.svg" alt=""></a>
                                                <a href="#"><img src="img/icon/color_star.svg" alt=""></a>
                                                <a href="#"><img src="img/icon/color_star.svg" alt=""></a>
                                                <a href="#"><img src="img/icon/star.svg" alt=""></a>
                                            </div>
                                            <p>3.8 Ratings</p>
                                        </div>
                                    </div> {% endcomment %}
                                </div>

                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-3">
                            <div class="single_special_cource">
                                <img src="./static/img/3.jpg" class="special_img" alt="">
                                <div class="special_cource_text">
                                    <a href="#" class="btn_4">PG Diploma</a>
                                    <h4>1,50,000</h4>
                                    <a href="#"> <h3>PG Diploma in Cyber Security </h3></a><br>
                                    {% comment %} <p>Which whose darkness saying were life unto fish wherein all fish of together called</p> {% endcomment %}
                                    <a href="#" class="btn_1">View More</a>
                                    {% comment %} <div class="author_info">
                                        <div class="author_img">
                                            <img src="./static/img/author/author_3.png" />
                                            <div class="author_info_text">
                                                <p>Conduct by:</p>
                                                <h5><a href="#">James Well</a></h5>
                                            </div>
                                        </div>
                                        <div class="author_rating">
                                            <div class="rating">
                                                <a href="#"><img src="img/icon/color_star.svg" alt=""></a>
                                                <a href="#"><img src="img/icon/color_star.svg" alt=""></a>
                                                <a href="#"><img src="img/icon/color_star.svg" alt=""></a>
                                                <a href="#"><img src="img/icon/color_star.svg" alt=""></a>
                                                <a href="#"><img src="img/icon/star.svg" alt=""></a>
                                            </div>
                                            <p>3.8 Ratings</p>
                                        </div>
                                    </div> {% endcomment %}
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-3">
                            <div class="single_special_cource">
                                <img src="./static/img/1.jpg" class="special_img" alt="">
                                <div class="special_cource_text">
                                    <a href="#" class="btn_4">Certified Auditor</a>
                                    <h4>75,000</h4>
                                    <a href="#"> <h3>Certified Information Security Auditor </h3></a>
                                    {% comment %} <p>Which whose darkness saying were life unto fish wherein all fish of together called</p> {% endcomment %}
                                    <a href="#" class="btn_1">View More</a>
                                    {% comment %} <div class="author_info">
                                        <div class="author_img">
                                            <img src="./static/img/author/author_3.png" />
                                            <div class="author_info_text">
                                                <p>Conduct by:</p>
                                                <h5><a href="#">James Well</a></h5>
                                            </div>
                                        </div>
                                        <div class="author_rating">
                                            <div class="rating">
                                                <a href="#"><img src="img/icon/color_star.svg" alt=""></a>
                                                <a href="#"><img src="img/icon/color_star.svg" alt=""></a>
                                                <a href="#"><img src="img/icon/color_star.svg" alt=""></a>
                                                <a href="#"><img src="img/icon/color_star.svg" alt=""></a>
                                                <a href="#"><img src="img/icon/star.svg" alt=""></a>
                                            </div>
                                            <p>3.8 Ratings</p>
                                        </div>
                                    </div> {% endcomment %}
                                </div>

                            </div>
                        </div><br>
                        <div class="col-sm-6 col-lg-3">
                            <div class="single_special_cource">
                                <img src="./static/img/2.jpg" class="special_img" alt="">
                                <div class="special_cource_text">
                                    <a href="#" class="btn_4">Certification</a><h4>50,000</h4>
                                    
                                    <a href="#">  <h3>Certificate in Ethical Hacking</h3> </a> <br>
                                    {% comment %} <p>Which whose darkness saying were life unto fish wherein all fish of together called</p> {% endcomment %}
                                    <a href="#" class="btn_1">View More</a>
                                    {% comment %} <div class="author_info">
                                        <div class="author_img">
                                            <img src="./static/img/author/author_3.png" />
                                            <div class="author_info_text">
                                                <p>Conduct by:</p>
                                                <h5><a href="#">James Well</a></h5>
                                            </div>
                                        </div>
                                        <div class="author_rating">
                                            <div class="rating">
                                                <a href="#"><img src="img/icon/color_star.svg" alt=""></a>
                                                <a href="#"><img src="img/icon/color_star.svg" alt=""></a>
                                                <a href="#"><img src="img/icon/color_star.svg" alt=""></a>
                                                <a href="#"><img src="img/icon/color_star.svg" alt=""></a>
                                                <a href="#"><img src="img/icon/star.svg" alt=""></a>
                                            </div>
                                            <p>3.8 Ratings</p>
                                        </div>
                                    </div> {% endcomment %}
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Courses  end::-->
            <!--::blog_part end::-->

            <!-- Advance learning part start-->
            <section class="advance_feature learning_part">
                <div class="container">
                    <div class="row align-items-sm-center align-items-xl-stretch">
                        <div class="col-md-6 col-lg-6">
                            <div class="learning_member_text">
                                <h5>CYBER OPTIONS TRAINING - ADVANTAGES</h5>
                                <h2>Training by Industry Experts</h2>
                                <p>The course is delivered by industry expert trainers who have extensive experience in handling complex IT challenges. These trainers are CTOs and CISOs who have practical experience in the field of cybersecurity. Learning from industry experts helps students gain insights into the real-world scenarios of cybersecurity.</p>
                                <div class="row">
                                    <div class="col-sm-6 col-md-12 col-lg-6">
                                        <div class="learning_member_text_iner">
                                            <span class="ti-pencil-alt"></span>
                                            <h4>Learn Anywhere</h4>
                                            <p>The course provides hands-on learning, which is essential for gaining practical skills and experience</p>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-md-12 col-lg-6">
                                        <div class="learning_member_text_iner">
                                            <span class="ti-stamp"></span>
                                            <h4>Expert Teacher</h4>
                                            <p>These trainers are CTOs and CISOs who have practical experience in the field of cybersecurity.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="learning_img">
                                <img src="./static/img/rr.png" />
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="advance_feature learning_part">
                <div class="container">
                    <div class="row align-items-sm-center align-items-xl-stretch">
                        <div class="col-lg-6 col-md-6">
                            <div class="learning_img">
                                <img src="./static/img/w1.png" />
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-6">
                            <div class="learning_member_text">
                                <h5>CYBER OPTIONS TRAINING - ADVANTAGES</h5>
                                <h2>Global Career Opportunities</h2>
                                <p>The course provides global career opportunities, with placements in leading MNCs, corporates in India, Middle East, Australia, Canada, and other countries. The demand for cybersecurity professionals is on the rise, and CyberOptions provides students with the skills and knowledge required to secure lucrative jobs in the field.</p>
                                <div class="row">
                                    <div class="col-sm-6 col-md-12 col-lg-6">
                                        <div class="learning_member_text_iner">
                                            <span class="ti-pencil-alt"></span>
                                            <h4>Learn Anywhere</h4>
                                            <p>The course provides hands-on learning, which is essential for gaining practical skills and experience</p>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-md-12 col-lg-6">
                                        <div class="learning_member_text_iner">
                                            <span class="ti-stamp"></span>
                                            <h4>Expert Teacher</h4>
                                            <p>These trainers are CTOs and CISOs who have practical experience in the field of cybersecurity.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>      
                    </div>
                </div>
            </section>
            <!-- Advance learning part end-->                
{% endblock %}